.account-settings section {
    flex-direction: column;
}

.account-settings section > h2, 
.account-settings form > h2, 
.account-settings button, 
.account-settings input *,
.account-settings .addresses > div {
    font-size: var(--mainFont);
}

.account-settings .addresses {
    display: flex;
}

.account-settings input,
.account-settings .addresses > div,
.account-settings form button {
    width: 30%;
    margin-right: 30px;
    margin-bottom: 20px;
}

.account-settings .addresses > div {
    background-color: black;
    color: white;
    margin-right: 35px;
    border-radius: 15px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
}

.account-settings input {
    padding: 10px 5px;
    font-weight: bold;
}

.account-settings form button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 5px;
    cursor: pointer;
}

.account-settings section > h2, 
.account-settings form > h2 {
    margin-bottom: 20px;
}

@media (max-width: 900px) {
    .account-settings input,
    .account-settings .addresses > div,
    .account-settings form button {
        width: 300px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .account-settings .addresses {
        flex-direction: column;
    }

    .account-settings .inputs > div {
        display: flex;
        flex-direction: column;
    }
}