:root {
    --bgColor: #f2ede8;
    --containerHeight: 1800px; /*mobile*/
    --asideHeight: 800px; /*desktop*/
    /*Font Size*/
    --strongerFont: 25px; /*lavender*/
    --mainFont: 20px; /*blue*/
    --smallFont: 12px; /*orange*/
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    overflow-x: hidden;
}

.container {
    position: relative;
    min-height: 100vh;
    height: var(--asideHeight);
    
}

.announce {
    text-align: center;
    width: 100%;
    background-color: black;
    color: white;
    z-index: 4;
    position: fixed;
    top:0;
    height: 30px;
    font-size: var(--smallFont);
    padding-top: 2px;
}

.container > nav {
    position: fixed;
    top: 50px;
    right: 25px;
    z-index: 4;
    top: 40px;
}

.container > nav a {
    font-size: var(--mainFont);
    text-decoration: none;
    color: black;
    margin-left: 25px;
    font-weight: bold;
}

aside {
    width: 300px;
    min-height: 100vh;
    height: var(--asideHeight);
    background-color: var(--bgColor);
    padding: 10px 20px;
    z-index: 3;
}

aside > img {
    position: fixed;
    width: 200px;
    left: 30px;
    top: 40px;
}

aside nav {
    float: right;
    margin-top: 100px;
}

aside nav h2 {
    font-size: var(--mainFont);
    font-weight: normal;
    cursor: pointer;
    font-weight: bold;
    margin: 15px;
}

aside nav .aside-menu .iconify {
    display: none;
}

aside nav img {
    margin-bottom: 30px;
}

.navSelected {
    border-bottom: 10px solid #e8e0d8;
}

@media(max-width: 900px) {
    .container {
        overflow-x: unset;
        height: var(--containerHeight);
    }    

    aside {
        min-height: unset;
        height: 100px;
        width: 100%;
        top: 30px;
        left: 0;
        position: fixed;
    }

    /*Boundary*/
    aside > img {
        position: absolute;
        bottom: 10px;
        left: 20px;
        top: 60px;
    }
    
    aside > nav img {
        position: absolute;
        right: 30px;
        top: 40px;
    }

    aside > nav {
        position: absolute;
        top: 0px;
        margin-top: 0;
        width: 100%;
    }

    aside nav .aside-menu {
        position: absolute;
        top: 10px; 
        left: -5px;
        width: 100px;
    }

    aside nav .aside-menu .iconify {
        font-size: 40px;
        display: block;
    }

    aside nav .aside-menu .dropdown-menu {
        display: none;
    }

    aside nav .aside-menu:hover .dropdown-menu {
        display: block;
        background-color: var(--bgColor);
        width: 100%;
        padding: 10px 0px;
    }

}   






