/* Page must fit the entire main */
.page { 
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 300px);
    padding: 100px 50px;
    padding-bottom: 0; /* It is useless*/
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
}

/* Title and section are common elements of pages */
.page .title {
    font-size: 50px;
}    

.page section { 
    display: flex;    
    max-width: 900px;
    padding-top: 50px;
    background-color: white;
    padding-bottom: 100px;
}    


@media (max-width: 900px) {
    .page {
        padding-top: 20px;
        width: 100%;
    }
}