.reward-status section {
    flex-direction: column;
}

.reward-status .row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.reward-status .row:last-of-type {
    margin-top: 40px;
}

.reward-status .row > * {
    width: 200px;
    margin-top: 20px;
}

.reward-status .row > div {
    margin-left: 20px;
}

.reward-status .row img {
    height: 60px;
    width: 60px;
}

@media (max-width: 900px) {
    .reward-status .row { 
        flex-direction: column;
        margin-top: 20px;
    }
}