.reward-status {
}

/* Contains Activity and Benefits */
.reward-status section {
    flex-direction: column;
    justify-content: space-between;
}

/* Activity and Benefits */
.reward-status section > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

/*Benefits */
.reward-status section > div:last-of-type {
    max-width: 600px;
    margin-top: 50px;
}

.reward-status section img {
    height: 60px;
    width: 60px;
}

@media(max-width: 900px) {
    .reward-status section > div {
        align-items: center;
        flex-direction: column;
    }

    .reward-status section > div > * {
        margin-bottom: 40px;
    }


}